.rotate {
  animation: spin 17s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open {
  position: relative;
  left: 0;
  width: 100px;
  transition: width 600ms ease-in-out;
}

.open:hover {
  width: 400px;
  transition: width 600ms ease-in-out;
}

/* .pressed {
  box-shadow: 0 9px #3e8e41;
  transition: all 0.2s ease-in-out;
}

.pressed:hover {
  box-shadow: 0 5px #3e8e41;
  transform: translateY(4px);
  transition: all 0.2s ease-in-out;
}


.pressed1 {
  box-shadow: 0 9px rgb(37 99 235);
  transition: all 0.2s ease-in-out;
}

.pressed1:hover {
  box-shadow: 0 5px rgb(37 99 235);
  transform: translateY(4px);
  transition: all 0.2s ease-in-out;
}


.pressed2 {
  box-shadow: 0 9px rgb(245 158 11);
  transition: all 0.2s ease-in-out;
}

.pressed2:hover {
  box-shadow: 0 5px rgb(245 158 11);
  transform: translateY(4px);
  transition: all 0.2s ease-in-out;
} */

.bubble {
  animation: bumping 5s  linear infinite;
}
.bubble1 {
  animation: bumping 2.5s  linear infinite;
  animation-delay: s
}
.bubble2 {
  animation: bumping 3s  linear infinite;
  animation-delay: s
}

.bubble:hover, .bubble1:hover, .bubble2:hover {
  animation: 0s
}

@keyframes bumping {
  0% {
    transform: translateY(0);
  } 20% {
    transform: translateY(-10px);
  } 30% {
    transform: translateY(-20px);
  } 40% {
    transform: translateY(-10px);
  } 50% {
    transform: translateY(0px);
  } 60% {
    transform: translateY(10px);
  } 80% {
    transform: translateY(20px);
  } 90% {
    transform: translateY(10px);
  } 100% {
    transform: translateY(0px);
  }
}