.rotate {
  animation: spin 7.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.open {
  position: relative;
  left: 0;
  width: 50px;
  transition: all 150ms ease-in-out;
}

.open:hover {
  width: 200px;
  transition: all 150ms ease-in-out;
}
